<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
      <h1>{{ category_name }}</h1>
      {% if category %}
	{% if pages %}
	  <ul>
	    {% for page in pages %}
	      <li><a href="{{ page.url }}" target="_blank">{{ page.title }}</a> </li>
	    {% endfor %}
	  </ul>
	{% else %}
	    <em>Pas de page présente dans cette catégorie</em>
	{% endif %}
      {% else %}
	La catégorie spécifiée {{ category_name }} n'existe pas.
	{% endif %}
    <br />
    <a href="/rango/category/{{ category_name_url }}/add_page/">Add a Page</a>
    </body>
</html>
