{% extends "rango/forms.html" %}

  {% block h1 %}Enregistrement{% endblock %}
  {% block form %}
    <div class="jumbotron">
      {% if registered %}
	Rango déclare :<strong> merci de vous être enregistré</strong>!
      <a href="/rango/">Retour à la page d'accueil.</a><br />
    {% else %}
      Rango déclare: <strong></strong>
      <form method="post" id="user_form" action="/rango/register/" enctype="multipart/form-data" class="well form-signin">
	{% csrf_token %}
	<h2 class="form-signin-heading"> enregistez-vous !</h2>

	{{ user_form.as_p }}
	{{ profile_form.as_p }}
	<input type="submit" name="submit" value="Enregistrement" class="btn btn-info btn-sm" />

      </form>
    </div>
  {% endif %}

{% endblock %}
